.back {
    display: none;
}

@media screen and (max-width: 320px) {
    .back {
        display: block;
    }
    .cult-img-cont {
        position: relative;
        height: 167.38px;
        width: 99.33px;
    }
    .middle {
        position: absolute;
    }
    .card {
        width: 89.328px;
        height: 157.375px;
    }
    .front,
    .back {
        width: 89.328px;
        height: 157.375px;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform 1s linear;
    }
    .front img {
        height: 100%;
        width: 100%s;
    }
    .front {
        transform: rotateY(0deg);
    }
    .back {
        background-color: #f1f1f1;
        transform: rotateY(180deg);
    }
    .back-content {
        color: #2c3e50;
        text-align: center;
        width: 100%;
    }
    .card:active>.front {
        transform: rotateY(-180deg);
    }
    .card:active>.back {
        transform: rotateY(0deg);
    }
}